html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

.board {
	display: flex;
	width: fit-content;
	margin: auto;
	position: absolute;
	flex-direction: column;
	top: 300px;
	left: 800px;
}

.piece {
	display: flex;
	width: fit-content;
	margin: auto;
	position: absolute;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
}

.square {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2em;
	width: 2em;
	outline: 1px black dashed;
	background: orange;
}

.square:hover {
	opacity: .5;
}

.red {
	background: red;
}

.green {
	background: green;
}

.blue {
	background: blue;
}

.yellow {
	background: yellow;
}

/*._longL {
	left: 300px;
	top: 300px;	
}

._2x2 {
	left: 500px;
	top: 300px;	
}*/

.empty {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2em;
	width: 2em;
	outline: 1px black dashed;
	z-index: -1;	
}

.blank {
	opacity: 0;
	outline: none;
}